<ion-view view-title="{{device.name}}">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">{{device.name}}</div>
            <div class="item item-body">
                {{device.id}}
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Services</div>
            <ion-list>
                <ion-item ng-repeat="service in device.services">
                    {{service}}
                </ion-item>
            </ion-list>
        </div>

        <button ng-click="lights(device.id)" class="button button-full button-positive">Scan</button>
        <button ng-click="getScanConfigs(device.id)" class="button button-full button-positive">Get Scan Configs</button>
        <button ng-click="lights(device.id)" class="button button-full button-positive">Read Configs</button>
    </ion-content>
</ion-view>
