<ion-view title="Chemometrics" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!--div style="text-align:center;"-->
        <!--<img src="img/Hh4ZOvVfQNOdkUI02wxY_pure.jpg" width="100%" height="auto"-->
        <!--Example for nvd3 charts-->
        <div ng-controller="ScatterPlotCtrl">
            <nvd3-scatter-chart data="exampleData"
                                id="exampleId"
                                width="550"
                                height="400"
                                yAxisTickFormat="yAxisTickFormatFunction()"
                                xAxisTickFormat="xAxisTickFormatFunction()">
                <svg></svg>
            </nvd3-scatter-chart>
        </div>
        <!--/div-->
        <form class="list">
            <ion-item class="range range-positive">Tune
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
        <div class="list card">
            <div class="item item-divider">Information</div>
            <div class="item item-body"></div>
        </div>
        <button type="button">Test File System</button>
    </ion-content>
</ion-view>