<ion-view title="Connections" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">TI NIRScan Nano Connection</div>
            <div class="item item-body">
                    <div class="item-icon-right">
                        <p>Connection Status</p>
                        <div ng-show="connecting" class="spinner">
                            <ion-spinner icon="crescent"></ion-spinner>
                        </div>
                        <div ng-hide="connecting">
                            <i ng-show="connected" style="color: rgb(51, 205, 95);" class="icon ion-checkmark-circled"></i>
                            <i ng-hide="connected" style="color: rgb(239, 71, 58);" class="icon ion-close-circled"></i>
                        </div>
                        
                    </div>
            </div>
        </div>
       
        <div class="list card">
            <div class="item item-divider">Select the NirScan</div>
            <button ng-click="scan()" class="button button-full button-positive">Scan Again</button>
            <ion-list>
                <ion-item class="item-icon-right" ng-repeat="device in devices" type="item-text-wrap" ng-click="connect(device.id)">
                    <h2>{{device.name}}</h2>
                    <p>{{device.id}} &nbsp; RSSI: {{device.rssi}}</p>
                </ion-item>
            </ion-list>
        </div>

    </ion-content>
</ion-view>