<ion-view title="Connections" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">TI NIRScan Nano</div>
            <div class="item item-body">
                <form class="list">
                    <ion-toggle toggle-class="toggle-positive" ng-checked="true">Connected</ion-toggle>
                    
                </form>
            </div>
        </div>
       
        <div id="connections-markdown1" style="color:#000000;">
            <p>Dump all transfer and power realated information the sensor gives here.</p>
            <button ng-click="onRefresh()" class="button button-full button-positive">Scan for devices</button>
            <ion-list>
                <ion-item class="item-icon-right" ng-repeat="device in devices" type="item-text-wrap" ng-click="connect(device.id)">
                    <h2>{{device.name}}</h2>
                    <p>{{device.id}} &nbsp; RSSI: {{device.rssi}}</p>
                </ion-item>
            </ion-list>

            
        </div>
    </ion-content>

</ion-view>