<ion-view title="Connections" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">TI NIRScan Nano</div>
            <div class="item item-body">
                <form class="list">
                    <ion-toggle toggle-class="toggle-positive" ng-checked="true">Connected</ion-toggle>
                </form>
            </div>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Transfer Information</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <div id="connections-markdown1" style="color:#000000;">
            <p>Dump all transfer and power realated information the sensor gives here.</p>
        </div>
    </ion-content>
</ion-view>