<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="menu.pMIRQuickScanner" menu-close="">Scan&nbsp;&nbsp;<i class="icon ion-ios-home-outline"></i> </ion-item>
                <ion-item ui-sref="menu.scanconfigselect" menu-close="">Scan Configs</ion-item>
                <!--<ion-item ui-sref="menu.chemometrics" menu-close="">Chemometrics</ion-item>-->
                <ion-item ui-sref="menu.modelload" menu-close="">Load Model</ion-item>
                <ion-item ui-sref="menu.modelsave" menu-close="">Save Model</ion-item>
            </ion-list>
            <div class="button-bar"></div>
            <ion-list>
                <ion-item ui-sref="menu.connections" menu-close="">Connections</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>