<ion-view title="Load A Model" id="page16">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    
        
        <div class="list card">
            <div class="item item-divider">Select a Type of Model To Load</div>
            <div class="item item-body">
                <form class="list">
                    <ion-radio ng-click="showModels()" ng-model="testType.type" ng-value="ScanPCA.value">{{ScanPCA.textPCA}}</ion-radio>
                    <ion-radio ng-click="showModels()" ng-model="testType.type" ng-value="ScanPLS.value">{{ScanPLS.textPLS}}</ion-radio>
                </form>
            </div>
        </div>

        <ion-list>
            <ion-item collection-repeat="file in filenames">
                <ion-radio ng-click="loadModel(file)">{{file}}</ion-radio>
            </ion-item>
        <ion-list>
</ion-view>