<ion-view title="Scan Results" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <center><i ng-show="loading"><ion-spinner icon="lines"></ion-spinner>Scanning...</i></center>

        <div ng-hide="loading">

            <div class="card">
                <div class="item item-divider">
                    PLS Results
                </div>
                <div class="item item-text-wrap">
                    <nvd3-discrete-bar-chart data="PLSData"
                                             id="PLSid"
                                             width="550"
                                             height="400"
                                             showLegend="true"
                                             showXAxis="true"
                                             showYAxis="true">
                        <svg></svg>
                    </nvd3-discrete-bar-chart>
                </div>
            </div>

            <div class="card">
                <div class="item item-divider">
                    Absorbance
                </div>
                <div class="item item-text-wrap">
                    <nvd3-line-chart data="absorbance"
                                     id="showXAxisExample"
                                     width="550"
                                     height="300"
                                     xAxisTickFormat="xAxisTickFormatFunction()"
                                     yAxisTickFormat="yAxisTickFormatFunction()"
                                     showXAxis="false"
                                     showYAxis="true">
                        <svg></svg>
                    </nvd3-line-chart>
                </div>
            </div>

            <div class="card">
                <div class="item item-divider">
                    Reflectance
                </div>
                <div class="item item-text-wrap">
                    <nvd3-line-chart data="reflectance"
                                     id="showXAxisExample2"
                                     width="550"
                                     height="300"
                                     xAxisTickFormat="xAxisTickFormatFunction()"
                                     yAxisTickFormat="yAxisTickFormatFunction()"
                                     showXAxis="false"
                                     showYAxis="true">
                        <svg></svg>
                    </nvd3-line-chart>
                </div>
            </div>

            
           <button id="loadpage" ui-sref="menu.modelsave" class="button button-balanced  button-block">Save Model</button>
            
            
        </div>
    </ion-content>
</ion-view>