<ion-view title="pMIR Quick Scanner" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="card" ui-sref="menu.connections">
            <div class="item item-text-wrap">
                Connected: {{connected}}
            </div>
        </div>
        <form class="list">
            <ion-radio>Profile Set</ion-radio>
            <ion-radio>Ready to Scan</ion-radio>
        </form>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Training Data</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Reference</ion-toggle>
        </form>
        <div class="button-bar">
            <button id="pMIRQuickScanner-button5" ng-click="lights()" class="button button-balanced  button-block">Scan</button>
        </div>
    </ion-content>
</ion-view>