<ion-view title="pMIR Quick Scanner" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">


        <div class="list card" ui-sref="menu.connections">
            <div class="item item-divider">TI NIRScan Nano Connection</div>
            <div class="item item-body">
                <div class="item-icon-right">
                    <h3 ng-show="connected">Connected </h3>
                    <h3 ng-hide="connected">Click here to connect </h3>

                    <i ng-show="connected" style="color: rgb(51, 205, 95);" class="icon ion-checkmark-circled"></i>
                    <i ng-hide="connected" style="color: rgb(239, 71, 58);" class="icon ion-alert-circled"></i>

                </div>
            </div>
        </div>
        <div class="list">
            <label class="item item-input" ui-sref="menu.scanconfigselect">
                <div class="input-label item-icon-right">
                    Select a scan configuration
                    <i class="icon ion-chevron-right"></i>
                </div>
            </label>
        </div>
        <form class="list">
            <ion-toggle ng-change="toggleTraining()" ng-model="isTrainingData" toggle-class="toggle-positive">Training Data</ion-toggle>
            <ion-radio ng-hide="isTrainingData" ng-model="testType.type" ng-value="ScanRAW.value">{{ScanRAW.textRaw}}</ion-radio>
            <ion-radio ng-hide="isTrainingData" ng-model="testType.type" ng-value="ScanPCA.value">{{ScanPCA.textPCA}}</ion-radio>
            <ion-radio ng-hide="isTrainingData" ng-model="testType.type" ng-value="ScanPLS.value">{{ScanPLS.textPLS}}</ion-radio>
        </form>
        <div class="button-bar">
            <button id="pMIRQuickScanner-button5" ng-disabled="!connected" ng-click="startScanSteps()" class="button button-balanced  button-block">Go</button><!-- ng-disabled="!connected"     Add in production-->
        </div>

    </ion-content>
</ion-view>