<ion-view title="postTrainScan" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Data Name</span>
                <input type="text" placeholder="ex. Apple">
            </label>
            <div class="list card">
                <div class="item item-divider">Chemical/Material</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">Name</span>
                            <input type="text" placeholder="ex. clorine ">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Concentraion</span>
                            <input type="number" placeholder="ex. .5">
                        </label>
                    </form>
                </div>
            </div>
            <button id="page-button7" class="button button-positive button-small button-block icon ion-android-add-circle"> Add Chemical/Material</button>
        </form>
        <ion-list></ion-list>
        <div class="spacer" style="width: 283px; height: 25px;"></div>
        <button id="page-button8" class="button button-balanced  button-block icon ion-android-checkmark-circle">Start/Save</button>
    </ion-content>
</ion-view>