<ion-view title="Enter Training Data" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
        <center><i ng-show="loading"><ion-spinner icon="lines"></ion-spinner>Scanning...</i></center>

        <!--<form class="list">-->
            <label class="item item-input" ng-hide="loading">
                <span class="input-label">Data Name</span>
                <input type="text" ng-model="name.text" placeholder="ex. Apple">
            </label>
            <div class="list card" ng-hide="loading">
                <div class="item item-divider">Chemical/Material</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">Name</span>
                            <input ng-model="elem1.text" name="name1" type="text" placeholder="ex. clorine ">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Concentraion</span>
                            <input ng-model="elem1.value" type="number" placeholder="ex. .5">
                        </label>
                    </form>
                </div>
            </div>
            <div class="list card" ng-hide="loading">
                <div class="item item-divider">Chemical/Material</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">Name</span>
                            <input ng-model="elem2.text" type="text" placeholder="ex. clorine ">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Concentraion</span>
                            <input ng-model="elem2.value" type="number" placeholder="ex. .5">
                        </label>
                    </form>
                </div>
            </div>
            <div class="list card" ng-hide="loading">
                <div class="item item-divider">Chemical/Material</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">Name</span>
                            <input ng-model="elem3.text" type="text" placeholder="ex. clorine ">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Concentraion</span>
                            <input ng-model="elem3.value" type="number" placeholder="ex. .5">
                        </label>
                    </form>
                </div>
            </div>
            <div class="list card" ng-hide="loading">
                <div class="item item-divider">Chemical/Material</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">Name</span>
                            <input ng-model="elem4.text" type="text" placeholder="ex. clorine ">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Concentraion</span>
                            <input ng-model="elem4.value" type="number" placeholder="ex. .5">
                        </label>
                    </form>
                </div>
            </div>
            <div class="list card" ng-hide="loading">
                <div class="item item-divider">Chemical/Material</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">Name</span>
                            <input ng-model="elem5.text" type="text" placeholder="ex. clorine ">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Concentraion</span>
                            <input ng-model="elem5.value" type="number" placeholder="ex. .5">
                        </label>
                    </form>
                </div>
            </div>
            <!--<div demo-directive ng-repeat="input in inputs"></div>-->
            <!--<button id="page-button7" class="button button-positive button-small button-block icon ion-android-add-circle"> Add Chemical/Material</button>-->
        <!--</form>-->
        <button ng-hide="loading" ng-click="Save(name.text)" id="page-button8" class="button button-balanced  button-block icon ion-android-checkmark-circle">Start/Save</button>
        <i ng-hide="loading">Note: Remainders will be calculated as Unknown and refelected in chemometics analysis. </i>
    </ion-content>
</ion-view>