<ion-view title="Profiles" id="page7">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </ion-list>
        <div class="button-bar"></div>
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Profile 1</div>
            <div class="item item-body">
                <h4 id="profiles-heading3" style="color:#000000;">This profile does xy and z</h4>
            </div>
        </div>
    </ion-content>
</ion-view>