# .gitignore
[Pp]lugins/android.json
[Pp]lugins/windows.json
[Pp]lugins/wp8.json
[Pp]lugins/remote_ios.json
[Pp]latforms/

/bin
/bld
/node_modules
.vs/config/applicationhost.config
.vs/pMIR/v14/.suo
pMIR.jsproj
pMIR.jsproj.user